//------------------------------------------------------------------------------
// @object: Action Bar
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$action-spacing: 16px !default;
$action-size: 40px !default;


// Theme Variables
$action-bg-color: $gray-100 !default;
$action-bg-hover-color: $default-action-bg-hover !default;
$action-color: $black-54 !default;
$action-hover-color: $default-action-color-hover !default;


//
// @scss
.o-action-bar {
	background-color: $action-bg-color;
	flex-wrap: nowrap;

	&-avatar {
		width: $action-size;
		height: $action-size;
		margin: ($action-spacing / 2);
		padding: 0;

		&-online {
			border-width: 1px;
		}
	}

	&-username {
		line-height: 1.75;
		padding: $action-spacing;
		padding-left: ($action-spacing / 2);
	}

	&-title {
		@include type(title);
		line-height: 1;
		float: left;
		margin-bottom: 0;
		padding: $action-spacing;
		@include child();
	}

	&-list {
		float: left;
		margin: 0;
		padding: 0;
		list-style: none;
		@include child();
	}

	&-list-item {
		display: flex;
		float: left;
		padding: $action-spacing;

		&:first-of-type {
			padding-right: 0;
		}
	}

	&-actions {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&-action {
		display: flex;
		float: right;

		&-item {
			position: relative;
		}

		&-link {
			color: $action-color;
			display: inline-block;
			padding: $action-spacing;

			&:hover,
			&:focus {
				background-color: $action-bg-hover-color;
				color: $action-hover-color;
			}
		}

		&-icon {
			margin-right: 0;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&-profile {
		padding: 0;

		&:hover,
		&:focus {
			background-color: $action-bg-hover-color;
		}
	}

	@include parent();
}
