//------------------------------------------------------------------------------
// @component: Menu
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$menu-spacing: 16px !default;
$menu-spacing-horizontal: $menu-spacing !default;
$menu-spacing-vertical: ($menu-spacing / 2) !default;
$menu-icon-margin: 24px !default;
$menu-icon-size: 32px !default;
$menu-link-size: 48px !default;
$menu-border-radius: $default-border-radius !default;
$menu-divider-height: 1px !default;

// Theme Variables
$menu-background-color: $white !default;
$menu-link-color: $default-text-color !default;
$menu-action-icon-color: $default-action-icon-color !default;
$menu-action-color-hover: $default-action-color-hover !default;
$menu-action-bg: $default-action-bg-hover !default;
$menu-divider-color: rgba(0, 0, 0, 0.125) !default;


//
// @scss
<<<<<<< HEAD
.c-menu-container {
	text-align: left;
	background-color: $menu-background-color;
	border-radius: $menu-border-radius;
	position: absolute;
	z-index: 999;
	top: auto;
	right: 0;
	display: none;
	overflow: auto;
	@include shadow(1);
}

=======
>>>>>>> fix menu for js
.c-menu {
	margin: 0;
	padding: $menu-spacing-vertical 0;
	list-style: none;

	&-container {
		text-align: left;
		background-color: $menu-background-color;
		border-radius: $menu-border-radius;
		position: absolute;
		z-index: 999;
		top: 0;
		overflow: auto;
		transition: all 0.2s ease;
		transform: scale(0);
		@include shadow(1);
	}

	&-item {
		position: relative;
	}

	&-toggle {
		cursor: pointer;
<<<<<<< HEAD

<<<<<<< HEAD
		&:hover,
		&:focus {
			> .c-menu-container,
			a > .c-menu-container {
				display: block;
			}
		}
=======
		// &:hover,
		// &:focus {
		// 	> .c-menu-container {
		// 		transform: scale(1);
		// 	}
		// }
	}

	&-active {
		transform: scale(1);
>>>>>>> test menu
=======
>>>>>>> fix menu for js
	}

	&-link {
		@include type(menu);
		white-space: nowrap;
		text-decoration: none;
		color: $menu-link-color;
		align-items: center;
		height: $menu-link-size;
		padding: 0 $menu-spacing-horizontal 0 $menu-spacing-horizontal;
		cursor: pointer;

		&-icon {
			color: $menu-action-icon-color;
			width: $menu-icon-size;
			height: $menu-icon-size;
			margin-right: $menu-icon-margin;
		}

		&:hover {
			text-decoration: none;
			background-color: $menu-action-bg;
			color: $menu-action-color-hover;

			.c-menu-link-icon {
				color: $menu-action-color-hover;
			}
		}
		@include parent();
	}

	&-divider {
		background-color: $menu-divider-color;
		height: $menu-divider-height;
		margin-top: $menu-spacing-vertical;
		margin-bottom: $menu-spacing-vertical;
	}
}
