//------------------------------------------------------------------------------
// @component: Post
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$post-spacing: 8px !default;
$post-border-radius: $default-border-radius !default;
$post-border-style: solid !default;
$post-border-size: 1px !default;
$post-body-min-height: 192px !default;
$post-emoji-size: 1em !default;
$post-emoji-size-min: 18px !default;


// Theme Variables
$post-header-bg-color: $default-action-bg !default;
$post-sidebar-bg-color: $default-action-bg !default;
$post-user-online-color: saturate($light-green, 20%) !default;
$post-group-color: $white !default;
$post-border-color: rgba(0, 0, 0, 0.125) !default;


@mixin parent($col: row) {
	display: flex;
	flex-direction: $col;
	flex-wrap: nowrap;
}

@mixin column {
	flex-direction: column;
}

@mixin child {
	flex: 1;
	align-self: auto;
}

//
// @scss
.c-post {
	border-radius: $post-border-radius;
	margin-bottom: ($post-spacing * 3);


	&-wrap {
		@include parent();
	}

	&-header {
		border-bottom: $post-border-size $post-border-style $post-border-color;
		@include child();
	}

	&-user {
		background-color: $action-bg-color;
		border-bottom: $post-border-size $post-border-style $post-border-color;
		display: none;
		padding: ($post-spacing * 2);
		@media (min-width: $bp-lg) {
			display: block;
		}
	}

	&-profile {
		background-color: $post-sidebar-bg-color;
		border-right: $post-border-size $post-border-style $post-border-color;
		display: none;
		flex: 0 1 256px;
		// padding: ($post-spacing * 2);

		&-avatar {
			display: block;
			padding: ($post-spacing * 2);
		}

		&-stats {
			line-height: 0;
			text-align: left;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		&-username {
			@include type(subhead2);
			line-height: unitless(14, map-get(map-get($type-styles, subhead2), font-size));
			display: inline-block;

			&:hover {
				text-decoration: underline;
			}
		}

		&-online {
			background-color: $post-user-online-color;
			border: ($post-spacing / 4) $post-border-style $post-sidebar-bg-color;
			border-radius: 50%;
			position: absolute;
			left: ($post-spacing * 3);
			display: block;
			float: left;
			width: ($post-spacing * 2);
			height: ($post-spacing * 2);
			margin-top: $post-spacing;

			@media (min-width: $bp-lg) {
				border-width: ($post-spacing / 2);
				left: ($post-spacing * 4.5);
				width: ($post-spacing * 5.5);
				height: ($post-spacing * 5.5);
				margin-top: $post-spacing;
			}
		}

		&-group {
			@include type(body1);
			color: $post-group-color;

			@media (min-width: $bp-lg) {
				margin-left: -$post-spacing;
			}
		}

		&-rating {
			@include type(body1);
			color: $post-group-color;
			margin-left: -($post-spacing * 4);
		}

		@media (min-width: $bp-lg) {
			display: block;
		}
	}

	&-body {
		min-height: $post-body-min-height;
		padding: ($post-spacing * 2);
		@include parent(column);
		@include child();
	}

	&-meta {
		@media (min-width: $bp-lg) {
			@include parent();
		}
	}

	&-title {
		@include type(headline);
		font-size: fluid(24, 36, 400, 1100);
		line-height: fluid(36, 48, 400, 1100);
		margin-bottom: 0;

		@media (min-width: $bp-lg) {
			padding-right: $post-spacing;
			@include child();
		}
	}

	&-subtitle {
		@include type(caption);
		vertical-align: baseline;
		display: block;

		&-item:not(:first-child) {
			padding-left: $post-spacing;
		}

		// @media (min-width: $bp-lg) {
		// 	@include child();
		// }
	}
	@include parent(column);
	@include shadow(2);
}

.c-copy {
	font-size: 14px;
	font-size: fluid(14, 21, 400, 1100);
	font-weight: 300;
	line-height: unitless(24, 14);
	line-height: fluid(24, 36, 400, 1100);
	letter-spacing: 0.04em;
	margin: ($post-spacing * 2) 0 0;

	> p {
		font-size: 14px;
		font-size: fluid(14, 21, 400, 1100);
		font-weight: 300;
		line-height: unitless(24, 14);
		line-height: fluid(24, 36, 400, 1100);
		margin-bottom: ($post-spacing * 2);
		margin-bottom: fluid(16, 24, 400, 1100);
	}

	&-links {
		//
	}

	&-bold {
		font-weight: bold;
	}

	&-italic {
		font-style: italic;
	}

	&-underline {
		text-decoration: underline;
	}

	&-img {
		//
	}

	&-attachment {
		//
	}

	&-code {
		//
	}

	&-color {
		//
	}

	&-list {
		font-size: 14px;
		font-size: fluid(14, 21, 400, 1100);
		font-weight: 300;
		line-height: unitless(24, 14);
		line-height: fluid(24, 36, 400, 1100);
		margin: ($post-spacing * 4);
		margin-right: 0;
		padding-left: ($post-spacing * 2);

		& & {
			margin: $post-spacing ($post-spacing * 3);
			margin-right: 0;
		}
	}

	&-smilies {
		vertical-align: text-bottom;
	}

	&-emoji {
		width: $post-emoji-size;
		min-width: $post-emoji-size-min;
		height: $post-emoji-size;
		min-height: $post-emoji-size-min;
	}

	@include child();
}
