//------------------------------------------------------------------------------
// @component: Profile
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$forum-spacing: 16px !default;
$forum-spacing-sm: 12px !default;
$forum-spacing-lg: 24px !default;
$forum-border-radius: $default-border-radius !default;
$forum-media-size: 40px !default;
$forum-media-margin: 0 !default;
$forum-border-style: solid !default;
$forum-border-size: 1px !default;


// Theme Variables
$forum-background-color: $white !default;
$forum-border-color: rgba(0, 0, 0, 0.125) !default;
$forum-media-color: $default-secondary-color !default;
$forum-media-read-color: $default-primary-color !default;


//
// @scss
.c-profile {
	background-color: $gray-100;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	width: 336px;
	padding: 0 0 16px 0;

	&-user {
		&-title {
			color: $black-87;
			opacity: 0.38;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	&-group {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.42857;
		text-align: center;
		letter-spacing: 0.04em;
		color: $white;
		height: 36px;
		margin: 4px 0 -8px;
	}

	&-menu {
		color: $black-54;
		display: inline-block;
		padding: 1rem;

		&:hover,
		&:focus {
			color: $default-action-color-hover;
		}

		&-icon {
			margin-right: 0;
		}
	}

	&-close {
		color: $black-54;
		display: inline-block;
		float: right;
		padding: 1rem;

		&:hover,
		&:focus {
			color: $default-action-color-hover;
		}

		&-icon {
			margin-right: 0;
		}
	}

	&-meta {
		text-align: center;
		margin: 0;
		padding: 16px;
	}

	&-stats {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&-stat {
		text-align: center;
		flex: 1;
		min-width: calc((100% / 3));
		padding: 8px 16px;

		&-wrap {
			font-size: 14px;
			margin: 0;
			padding: 0;
		}

		&-value {
			font-size: 12px;
			font-weight: 400;
			line-height: calc(20/12);
			letter-spacing: 0.08em;
			padding-top: 8px;
		}
	}

	&-rating {
		&-good {
			font-weight: 600;
			color: $default-success-color;
		}

		&-bad {
			font-weight: 600;
			color: $default-important-color;
		}
	}
}





.c-forum {
	background-color: $forum-background-color;
	border-radius: $forum-border-radius;
	position: relative;
	margin-bottom: $forum-spacing;

	&-body {
		flex: 1 1 auto;
		margin-bottom: $forum-spacing;
	}

	&-media {
		float: left;
		margin: $forum-spacing $forum-spacing 0;
		@include parent(column);
		@include child();
	}

	&-media-icon {
		color: $forum-media-color;
		width: $forum-media-size;
		height: $forum-media-size;
		margin-right: $forum-media-margin;

		&-read {
			color: $forum-media-read-color;
		}
	}

	&-info {
		margin-right: $forum-spacing;
		@include parent(column);
	}

	&-title {
		@include type(headline);
		margin-top: $forum-spacing-lg;
		margin-bottom: $forum-spacing-sm;

		&-link {
			line-height: 1;
		}
		@media (min-width: $bp-lg) {
			margin-bottom: 0;
		}
	}

	&-text {
		@include type(body1);
		margin: $forum-spacing 0 0;

	}

	&-footer {
		border-top: $forum-border-size $forum-border-style $forum-border-color;
		border-radius: 0 0 $forum-border-radius $forum-border-radius;
	}

	&-cat {
		&-title {
			@include type(headline);
			border-bottom: $forum-border-size $forum-border-style $forum-border-color;
			margin-top: $forum-spacing;
			margin-bottom: $forum-spacing-lg;
			padding-bottom: ($forum-spacing / 4);

			&-link {
				line-height: 1;
			}
		}
	}

	@media (min-width: $bp-lg) {
		&-deck {
			flex-wrap: wrap;
			@include parent();
		}

		&-deck .c-forum {
			flex: 1 0 0%;
			min-width: calc((100% / 2) - (12px));
			max-width: calc((100% / 2) - (12px));
			margin-bottom: $forum-spacing-lg;
			margin-left: $forum-spacing-lg;

			&:first-child,
			&:nth-child(2n+1) {
				margin-left: 0;
			}
			@include parent(column);
		}
	}
	@include parent(column);
	@include shadow(2);
}
