//------------------------------------------------------------------------------
// @object: Tab
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$tab-spacing: 16px !default;
$tab-width: 248px !default;
$tab-border-radius: $default-border-radius !default;
$tab-border-height: 1px !default;


// Theme Variables
$tab-bg-color: $default-action-bg !default;
$tab-pane-bg-color: $white !default;
$tab-bg-hover-color: $default-action-bg-hover !default;
$tab-text-color: $default-action-color !default;
$tab-icon-color: $default-action-color !default;
$tab-icon-hover-color: $default-action-color-hover !default;
$tab-border-type: solid !default;
$tab-border-color: rgba(0, 0, 0, 0.125) !default;
$tab-border: $tab-border-height $tab-border-type $tab-border-color !default;


//
// @scss
.c-tab {
	text-align: center;
	text-transform: uppercase;
	background-color: transparent;
	color: $tab-text-color;
	position: relative;
	margin: 0 $tab-border-height;
	padding: $tab-spacing;
	transition: color 0.25s;

	&:after {
		background-color: $tab-icon-hover-color;
		position: absolute;
		bottom: -$tab-border-height;
		left: 0;
		width: 0;
		height: ($tab-spacing * 0.25);
		content: "";
		transition:
			background-color 0s ease-in 0.5s,
			width 0.15s ease-in 0.25s;
	}

	&:hover,
	&-active {
		color: $tab-icon-hover-color;
		transition: 0.5s;

		&:after {
			left: 0;
			width: 100%;
		}
	}

	&-icon {
		text-align: center;
		display: block;
		margin: 0 auto;
	}

	&-text {
		@include type(body2);
		display: block;
	}

	&-icon + &-text {
		padding-top: ($tab-spacing 0.375);
	}

	&-card {
		background-color: $tab-pane-bg-color;
		border-radius: $tab-border-radius;
		@include shadow(2);
	}

	&-bar {
		border-bottom: $tab-border;
		padding: 0 ($tab-spacing * 0.75);
		@media (min-width: $bp-lg) {
			padding: 0 ($tab-spacing * 1.5);
		}
		@include parent();
	}

	&-pane {
		margin: 0;

		&[aria-hidden="true"] {
			display: none;
		}

		&-row {
			@media (min-width: $bp-lg) {
				flex-direction: row;
			}
			@include child();
			@include parent(column);
		}

		&-title {
			@include type(title, $lh: 1);
			flex-shrink: 1;
			margin-bottom: 0;
			padding: $tab-spacing 0 0 $tab-spacing;
			@media (min-width: $bp-lg) {
				padding-bottom: $tab-spacing;
			}
		}

		&-text {
			padding: $tab-spacing;
			@include child();
		}

		&-link:hover {
			text-decoration: underline;
			transition: 0.5s;
		}

		&-row + &-row &-stats {
			padding-top: 0;
		}

		&-footer {
			background-color: $tab-bg-color;
			border-top: $tab-border;
			@include parent();
			@include border-radius(bottom, $tab-border-radius);
		}
		@include parent(column);
	}
	@media (min-width: $bp-lg) {
		padding: $tab-spacing ($tab-spacing * 1.5);
	}
}
