
// @component: Topic
//------------------------------------------------------------------------------
// @description
//
//------------------------------------------------------------------------------

//
// @settings

// Layout Variables
$topic-spacing: 16px !default;
$topic-border-radius: $default-border-radius !default;
$topic-height: 72px !default;
$topic-icon-size: 40px !default;
$topic-avatar-size: 40px !default;
$topic-margin-bottom: 24px !default;
$topic-title-line-height: 20px !default;
$topic-subheader-line-height: 18px !default;
$topic-data-icon-size: 18px !default;
$topic-border-style: solid !default;

// Theme Variables
$topic-icon-color: $default-secondary-color !default;
$topic-icon-color-read: $default-primary-color !default;
$topic-hover-color: $gray-50 !default;
$topic-action-hover-color: $default-action-bg-hover !default;
$topic-action-icon-color: $default-action-color !default;
$topic-action-hover-icon-color: $default-action-color-hover !default;
$topic-header-color: $default-action-bg !default;
$topic-border-color: rgba(0, 0, 0, 0.125) !default;


//
// @scss
.c-topic {
	&-item {
		border-top: 1px solid $topic-border-color;

		&:hover {
			background-color: $topic-hover-color;
			transition: 0.5s;
		}
	}

	&-meta {
		@include parent();
		text-align: right;
		position: relative;
		justify-content: flex-start;
		align-items: center;
	}

	&-unapproved {
		color: $topic-icon-color;
		padding: 0;
	}

	&-meta-primary,
	&-time,
	&-date {
		display: none;

		@media (min-width: 960px) {
			display: inline-block;
		}
	}

	&-paging {
		display: none;

		&-link {
			font-size: inherit;
			padding: ($topic-spacing / 8) ($topic-spacing / 4);

			&-icon {
				width: $topic-data-icon-size;
				height: $topic-data-icon-size;
				margin-top: -($topic-margin-bottom / 2);
			}
		}

		@media (min-width: $bp-md) {
			display: inline-flex;
		}
	}

	&-checkbox-label {
		text-indent: 9999px;
		width: 0;
	}
}
