<section>
	<h3 class="">Button Icons</h3>
	<ul class="icon-display">
		<li><a href=""><svg class="o-icon"><use xlink:href="#add"></use></svg> <span>New</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#lock"></use></svg> <span>Locked</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#forward"></use></svg> <span>Forward</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#reply"></use></svg> <span>Reply</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#down"></use></svg> <span>Drop Down</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#wrench"></use></svg> <span>Tools</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#sort"></use></svg> <span>Sort</span></a></li>
	</ul>

	<h3 class="">Navigation Icons</h3>
	<ul class="icon-display">
		<li><a href=""><svg class="o-icon"><use xlink:href="#menu"></use></svg> <span>Responsive Menu</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#register"></use></svg> <span>Register</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#home"></use></svg> <span>Home</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#faq"></use></svg> <span>Faq</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#members"></use></svg> <span>Members</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#notifications"></use></svg> <span>Notification</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#inbox"></use></svg> <span>PM</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#login"></use></svg> <span>Login/Logout</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#search"></use></svg> <span>Search</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#jump-to"></use></svg> <span>Jump</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#user"></use></svg> <span>Profile</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#ucp"></use></svg> <span>UCP</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#gavel"></use></svg> <span>MCP</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#acp"></use></svg> <span>ACP</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#team"></use></svg> <span>Team</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#new"></use></svg> <span>New</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#unread"></use></svg> <span>Unread</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#read"></use></svg> <span>Read</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#active"></use></svg> <span>Active</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#unanswered"></use></svg> <span>Unanswered</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#yours"></use></svg> <span>Yours</span></a></li>
	</ul>

	<h3 class="">Post Icons</h3>
	<ul class="icon-display">
		<li><a href=""><svg class="o-icon"><use xlink:href="#post-menu"></use></svg> <span>Post Menu</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#edit"></use></svg> <span>Edit</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#delete"></use></svg> <span>Delete</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#info"></use></svg> <span>Info</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#report"></use></svg> <span>Report</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#warn"></use></svg>  <span>Warn</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#quote"></use></svg> <span>Quote</span></a></li>
	</ul>

	<h3 class="">Tool Icons</h3>
	<ul class="icon-display">
		<li><a href=""><svg class="o-icon"><use xlink:href="#subscribe"></use></svg> <span>Subscribe</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#unsubscribe"></use></svg> <span>Unsubscribe</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#bump"></use></svg> <span>Bump</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#download"></use></svg> <span>Download</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#bookmark"></use></svg>  <span>Bookmark</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#unbookmark"></use></svg>  <span>UnBookmark</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#send-email"></use></svg> <span>Send Email</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#print"></use></svg> <span>Print</span></a></li>
	</ul>

	<h3 class="">Social Icons</h3>
	<ul class="icon-display">
		<li><a href=""><svg class="o-icon"><use xlink:href="#contact-menu"></use></svg> <span>CONTACT</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#pm-user"></use></svg> <span>PM</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#gmail"></use></svg> <span>Email</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#jabber"></use></svg> <span>JABBER</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#skype"></use></svg> <span>SKYPE</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#website"></use></svg> <span>WWW</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#yahoo"></use></svg> <span>YAHOO</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#rss"></use></svg> <span>Feed</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#facebook"></use></svg> <span>FACEBOOK</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#twitter"></use></svg> <span>TWITTER</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#youtube"></use></svg> <span>YOUTUBE</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#google-plus"></use></svg> <span>GOOGLE</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#aim"></use></svg> <span>AIM</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#icq"></use></svg> <span>ICQ</span></a></li>
	</ul>

	<h3 class="">Directional Icons</h3>
	<ul class="icon-display">
		<li><a href=""><svg class="o-icon"><use xlink:href="#chevron-down"></use></svg> <span>Arrow down</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#chevron-up"></use></svg> <span>Arrow up</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#chevron-left"></use></svg> <span>Arrow left</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#chevron-right"></use></svg> <span>Arrow right</span></a></li>
	</ul>

	<h3 class="">Editor Icons</h3>
	<ul class="icon-display">
		<li><a href=""><svg class="o-icon"><use xlink:href="#bold"></use></svg> <span>Bold</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#italic"></use></svg> <span>Italic</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#underline"></use></svg> <span>Underline</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#format-quote"></use></svg> <span>Quote</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#code"></use></svg> <span>Code</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#list-bullets"></use></svg> <span>List</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#list-numbers"></use></svg> <span>List=</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#list-add"></use></svg> <span>List add</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#insert-image"></use></svg> <span>Image</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#link"></use></svg> <span>Url</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#format-size"></use></svg> <span>Font Size</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#color"></use></svg> <span>Color</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#strike-through"></use></svg> <span>Strike</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#gist"></use></svg> <span>Gist</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#insert-emoticon"></use></svg> <span>Smiles</span></a></li>
	</ul>

	<h3 class="">Other Icons</h3>
	<ul class="icon-display">
		<li><a href=""><svg class="o-icon"><use xlink:href="#replies"></use></svg> <span>Replies</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#more-v"></use></svg> <span>More</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#more-h"></use></svg> <span>Menu</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#close"></use></svg> <span>Close</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#top"></use></svg> <span>Top</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#mark"></use></svg> <span>Mark</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#expand"></use></svg> <span>Expand</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#collapse"></use></svg> <span>Collapse</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#online"></use></svg> <span>Online</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#offline"></use></svg> <span>Offline</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#pages"></use></svg> <span>Pages</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#thumbs-up"></use></svg> <span>Good</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#thumbs-down"></use></svg> <span>Bad</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#attach"></use></svg> <span>Attach</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#topic-deleted"></use></svg> <span>Topic Deleted</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#reported"></use></svg> <span>Reported</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#unapproved"></use></svg> <span>Unapproved</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#last-page"></use></svg> <span>Latest / First Unread</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#forum-sub"></use></svg> <span>Subforum</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#poll"></use></svg> <span>Poll</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#sort-order"></use></svg> <span>Sort Order</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#filter-by"></use></svg> <span>Filter</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#filter-qty"></use></svg> <span>Fiter Qty</span></a></li>
	</ul>

	<h3>Imageset Icons</h3>
	<ul class="icon-display">
		<li><a href=""><svg class="o-icon"><use xlink:href="#forum"></use></svg> <span>Forum </span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#forum-sub"></use></svg> <span>Subforum</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#forum-locked"></use></svg> <span>Forum locked</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#forum-link"></use></svg> <span>Forum link</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#topic-move"></use></svg> <span>Topic Moved</span></a></li>

		<li><a href=""><svg class="o-icon"><use xlink:href="#announce"></use></svg> <span>Announcement</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#announce-locked"></use></svg> <span>Announce locked</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#announce-mine"></use></svg> <span><span class="mine"></span> Announce mine</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#announce-locked-mine"></use></svg> <span><span class="mine"></span> Announce mine locked</span></a></li>

		<li><a href=""><svg class="o-icon"><use xlink:href="#sticky"></use></svg> <span>Sticky</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#sticky-locked"></use></svg> <span>Sticky locked</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#sticky-mine"></use></svg> <span><span class="mine"></span> Sticky mine</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#sticky-locked-mine"></use></svg> <span><span class="mine"></span> Sticky mine locked</span></a></li>

		<li><a href=""><svg class="o-icon"><use xlink:href="#topic"></use></svg> <span>Topic</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#topic-locked"></use></svg> <span>Topic locked</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#topic-mine"></use></svg> <span><span class="mine"></span> Topic mine</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#topic-locked-mine"></use></svg> <span><span class="mine"></span> Topic mine locked</span></a></li>

		<li><a href=""><svg class="o-icon"><use xlink:href="#hot"></use></svg> <span>Topic hot</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#hot-locked"></use></svg> <span>Topic hot locked</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#hot-mine"></use></svg> <span><span class="mine"></span> Topic mine hot</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#hot-locked-mine"></use></svg> <span><span class="mine"></span> Topic mine hot locked</span></a></li>
	</ul>

	<h3>Old Imageset Icons Test</h3>
	<ul class="icon-display">
		<li><a href=""><svg class="o-icon"><use xlink:href="#announce_read"></use></svg> <span>Announce </span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#announce_locked_read"></use></svg> <span>Announce Locked</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#announce_locked_mine_read"></use></svg> <span>Announce Locked Mine</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#forum_link"></use></svg> <span>Forum Link</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#forum_read"></use></svg> <span>Forum</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#forum_locked_read"></use></svg> <span>Forum Locked</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#forum_subforum_read"></use></svg> <span>Subforum</span></a></li>

		<li><a href=""><svg class="o-icon"><use xlink:href="#sticky_read"></use></svg> <span>Sticky</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#sticky_locked_read"></use></svg> <span>Sticky Locked</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#sticky_locked_mine_read"></use></svg> <span>Sticky Locked Mine</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#sticky_mine_read"></use></svg> <span>Sticky Mine</span></a></li>

		<li><a href=""><svg class="o-icon"><use xlink:href="#topic_moved"></use></svg> <span>Topic Moved</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#topic_read"></use></svg> <span>Topic</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#topic_hot_read"></use></svg> <span>Topic Hot</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#topic_hot_mine_read"></use></svg> <span>Topic Hot Mine</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#topic_locked_read"></use></svg> <span>Topic Locked</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#topic_locked_mine_read"></use></svg> <span>Topic Locked Mine</span></a></li>
		<li><a href=""><svg class="o-icon"><use xlink:href="#topic_mine_read"></use></svg> <span>Topic Mine</span></a></li>
	</ul>
</section>
