//------------------------------------------------------------------------------
// #generic: Tables
//------------------------------------------------------------------------------
// #description:
//
//------------------------------------------------------------------------------

//
// #scss

//
// 1. Reset for nesting within parents with `background-color`.
table {
	@include vertical-rhythm();
	background-color: transparent; // [1]
	width: 100%;
	border-spacing: 0;
}

caption {
	margin: 0;
}

//
// Centered by default, but left-aligned to match the `td`s below.
//
th {
	text-align: left;
}

th,
td {
	margin: 0;
	padding: ($default-line-height / 2);
}
